<p>Distribution name: [% distribution.name %]</p>
<p>Current release: [% release.name %]</p>

<ul>
[% FOR m IN modules -%]
<li><a href="/lib/[% m.module.0.name.replace('::', '/') %].html">[% m.module.0.name %]</a></li>
[% END -%]
</ul>
